@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

@media screen and (max-width: 1024px) {
  html,
  body,
  main,
  header,
  footer,
  div,
  nav,
  .container,
  .cont {
    width: auto;
  }

  .curs,
  .educ,
  .profi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 90%;
  }

  li h3 {
    font-size: 2.5rem;
  }

  #sobremim,
  #sk,
  #contat,
  #cur,
  #edu,
  #pro {
    font-size: 4rem;
    margin: 10% auto;
  }

  .descricao {
    font-size: 2rem;
  }
}

html {
  display: flex;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: #0f0f0f;
}

body {
  background-color: #0f0f0f;
}

a:hover {
  color: #69d466;
}

h1:hover {
  color: #69d466;
}

#inicio:active {
  color: #69d466;
  cursor: none;
}

h1 {
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

h3 {
  padding-left: 10px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

nav li a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: white;
  background-color: black;
}

footer li a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: white;
  background-color: black;
}

header {
  display: inline-flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  padding: 20px 0;
  background-color: black;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: black;
  font-size: 12px;
}

footer a {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

h6 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  padding-left: 20px;
}

nav li {
  display: inline-flex;
  padding-top: 5px;
  padding-right: 20px;
}

nav a {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.container {
  background-image: url(../assets/img/code.jpg);
  width: 100%;
  background-repeat: repeat;
  padding-bottom: 300px;
}

#inicio {
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-shadow: 10px -2px 5px black;
  font-weight: bold;
  font-size: 100px;
  text-align: center;
  padding-top: 180px;
  cursor: default;
}

#desc {
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-shadow: 4px -3px 3px black;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding-top: 10px;
  cursor: default;
}

.sobre {
  background-color: #0f0f0f;
  color: white;
  padding: 20px 0;
  border: none;
}

.sobre2 {
  background-color: #0f0f0f;
  color: white;
  line-height: 1.8em;
  padding: 20px 0;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  box-sizing: border-box;
  width: 100%;
  border: none;
}

.sobremim {
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-shadow: 4px -3px 3px black;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-top: 45px;
  padding-bottom: 20px;
  border: none;
}

#perfil {
  border-radius: 50%;
  height: 20%;
  width: 20%;
  padding-bottom: 30px;
}

/*Titulo Skills*/
.sk {
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-shadow: 4px -3px 3px black;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 45px 45px;
  border: none;
}

.skills {
  width: 940px;
  margin: 20px auto;
  display: flex;
  background-color: #0f0f0f;
}

.icons {
  display: inline-block;
  list-style-type: none;
  justify-content: center;
}

.icons li {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center;
  justify-content: center;
  vertical-align: top;
  width: 20%;
  margin: 20px 20px;
  padding: 10px 10px;
  background-color: #0f0f0f;
}

i {
  font-size: 100px;
}

.profissional {
  background-color: #0f0f0f;
  color: white;
  padding: 20px 20px;
}

.pro {
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-shadow: 4px -3px 3px black;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-top: 45px;
  padding-bottom: 40px;
}

.profi li {
  display: inline-block;
  line-height: 1.8em;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center;
  justify-content: center;
  width: 45%;
  vertical-align: top;
  padding: 40px 0;
  margin: 0 2%;
  box-sizing: border-box;
  border: none;
}

.profi {
  width: 940px;
  margin: 0 auto;
  border: none;
}

.educacional {
  background-color: #0f0f0f;
  color: white;
  padding: 20px 20px;
  border: none;
}

.edu {
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-shadow: 4px -3px 3px black;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-top: 45px;
  padding-bottom: 40px;
  border: none;
}

.educ {
  width: 940px;
  margin: 0 auto;
  border: none;
}

.educ li {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  color: #fff;
  line-height: 1.8em;
  text-align: center;
  justify-content: center;
  width: 45%;
  vertical-align: top;
  padding: 40px 0;
  margin: 0 2%;
  box-sizing: border-box;
  border: none;
}

.cursos {
  background-color: #0f0f0f;
  color: white;
  padding: 20px 20px;
  border: none;
}

.cur {
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-shadow: 4px -3px 3px black;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-top: 45px;
  padding-bottom: 40px;
  border: none;
}

.curs li {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  color: #fff;
  line-height: 1.8em;
  text-align: center;
  justify-content: center;
  width: 45%;
  vertical-align: top;
  padding: 40px 0;
  margin: 0 2%;
  box-sizing: border-box;
  border: none;
}

.curs {
  width: 940px;
  margin: 0 auto;
  border: none;
}

.contato {
  background-color: #0f0f0f;
  display: flex;
  color: white;
  margin-bottom: 100px;
  border: none;
}

.contat {
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-shadow: 4px -3px 3px black;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin: 45px auto;
  padding-bottom: 40px;
  border: none;
}

.cont {
  width: auto;
  margin: 0 auto;
  border: none;
}

.cont li {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center;
  justify-content: center;
  width: 15%;
  vertical-align: top;
  padding: 40px 60px;
  margin: 0 2%;
  box-sizing: border-box;
}

.cont a {
  background-color: #0f0f0f;
}
